<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXmB-_nLlAyYRg7tJCoaXGndvL78m17p4</string>
	<key>GCM_SENDER_ID</key>
	<string>972028267896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siagaTracker</string>
	<key>PROJECT_ID</key>
	<string>siaga-polda-kalsel</string>
	<key>STORAGE_BUCKET</key>
	<string>siaga-polda-kalsel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972028267896:ios:e7a806e6bd631c9916cc8d</string>
	<key>DATABASE_URL</key>
	<string>https://siaga-polda-kalsel-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>